<h1>hello</h1>
<p>some text</p>
<pre>
     amator │          amateur
    senator │          senator
 gubernator │         governor
  generator │        generator
   operator │         operator
   narrator │         narrator
rejestrator │         recorder
 prokurator │       prosecutor
    monitor │          monitor
      aktor │            actor
   redaktor │           editor
   kolektor │        collector
  inspektor │        inspector
   dyrektor │         director
     sektor │           sector
  protektor │        protector
  konduktor │        conductor
 instruktor │       instructor
     pastor │           pastor
      autor │           author
korepetytor │            tutor
 kompozytor │         composer
   klasztor │        monastery</pre>